@charset 'utf-8';

@import "../node_modules/bulma/sass/utilities/functions.sass";

@import "./styles/custom_colors.scss";

$custom-colors: (
  "custom-green-darker": (
    $custom-green-darker
  ),
  "custom-green-lighter": (
    $custom-green-lighter
  ),
  "custom-gray": (
    $custom-gray
  ),
  "custom-gray-darker": (
    $custom-gray-darker
  ),
  "custom-black": (
    $custom-black
  ),
  "custom-orange": (
    $custom-orange
  )
);

// Import Bulma styles
@import "../node_modules/bulma/bulma.sass";

// Import rbx style fixes (**very simple**)
@import "../node_modules/rbx/rbx.sass";

.dashed_box {
  font-size: 14px;
  background: white;
  font-weight: bold;
  border: 1px dashed $custom-gray;
  padding-left: 20px;
  padding-right: 20px;
}
